@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --main-font: "Open Sans", sans-serif;
  --main-beige: hsl(37, 66%, 85%);
  --boxing-orange: hsl(11, 71%, 62%);
  --beige-bg-colour: hsl(35, 85%, 95%);
  --mild-red: hsl(355, 68%, 57%);
  --deep-red: hsl(355, 68%, 52%);
  --bg-blue: hsl(202, 90%, 92%);
  --main-blue: hsl(194, 96%, 29%);
  --off-white: hsl(0, 100%, 98%);
  --black: hsl(345, 6%, 13%);
  --bg-boxing-filterbtn: hsl(10, 69%, 90%);
}
* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
  overflow-x: hidden;
}

/* Progress Page Styles */
.slogan {
  margin-top: 25px;
}
.chart-container {
  margin-top: 70px;
  margin-bottom: 200px;
}

/* Chart on different screen sizes */
@media screen and (max-width: 705px) {
  .chart-container {
    width: 410px !important;
    height: auto !important;
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 412px) {
  .chart-container {
    width: 320px !important;
  }
}
@media screen and (max-width: 900px) {
  .chart-container {
    width: 200%;
  }
}

/* Button - Homepage & Filter */
.icon {
  width: 65.34px;
  height: 65px;
  border-radius: 20px;
  margin: 10px 13px 10px 40px;
  background: rgb(255, 255, 255);
  display: inline-block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.btn:hover,
.btn:focus {
  opacity: 0.9;
}
.icon:hover,
.icon:focus {
  transform: translateY(-0.25em);
}
.icon:active {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(196, 15%, 86%);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #e8edee;
}

/* HTML5 Audio Element */
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: #ffffff;
  color: #000;
  width: 100%;
}
audio {
  max-height: 100%;
  max-width: 100%;
  width: 600px;
}
.flex-child {
  flex: 1;
  align-self: center;
  text-align: center;
}
.flex-child:first-child {
  margin-right: 20px;
}
/* Completed Video Box */
.marker {
  display: inline-block;
  width: fit-content;
  height: 30px;
  padding: 20px;
}
.marker-not-complete {
  background-color: hsl(0, 0%, 83%);
  color: hsl(0, 0%, 50%);
}
.marker-complete {
  background-color: hsl(150, 100%, 50%);
  color: hsl(0, 0%, 100%);
}

/* Loading Animation */
.loader-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader-animation {
  margin-top: 15em;
}
.loading-text {
  margin-top: 1em;
  font-weight: bold;
  font-size: 18px;
}
.background-beige {
  background: rgba(253, 244, 231, 1);
  height: 100vh;
}
