@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --main-font: "Open Sans", sans-serif;
  --main-beige: hsl(38, 66%, 85%);
  --boxing-orange: hsl(11, 71%, 62%);
  --beige-bg-colour: hsl(35, 85%, 95%);
  --mild-red: hsl(355, 68%, 57%);
  --deep-red: hsl(355, 68%, 52%);
  --bg-blue: hsl(202, 90%, 92%);
  --main-blue: hsl(194, 96%, 29%);
  --off-white: #fff7f7;
  --black: #231f20;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
  overflow-x: hidden;
}

/* button styles - homepage & filter */
.btn,
.icon {
  width: 65.34px;
  height: 65px;
  border-radius: 20px;
  margin: 10px 13px 10px 10px;
  background: rgba(255, 255, 255, 0.9);
  display: inline-block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.btn:hover,
.btn:focus {
  opacity: 0.8;
}
.icon:hover,
.icon:focus {
  transform: translateY(-0.25em);
}
.btn:active,
.icon:active {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
/* 
 .clicked {
  background-color: red;
}  */

/* custom scrollbar styles */
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(196, 15%, 86%);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #e8edee;
}

/* video player custom styles */
.react-player {
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
}

/* completed video styles */
.marker {
  display: inline-block;
  width: fit-content;
  height: 30px;
  padding: 20px;
}
.marker-not-complete {
  background-color: hsl(0, 0%, 83%);
  color: hsl(0, 0%, 50%);
}
.marker-complete {
  background-color: hsl(150, 100%, 50%);
  color: hsl(0, 0%, 100%);
}
