@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --main-font: "Open Sans", sans-serif;
  --main-beige: hsl(38, 66%, 85%);
  --boxing-orange: hsl(11, 71%, 62%);
  --beige-bg-colour: hsl(35, 85%, 95%);
  --mild-red: hsl(355, 68%, 57%);
  --deep-red: hsl(355, 68%, 52%);
  --bg-blue: hsl(202, 90%, 92%);
  --main-blue: hsl(194, 96%, 29%);
  --off-white: #fff7f7;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
  overflow-x: hidden;
}
